# Build and IDE artifacts
*.autosave
*.o
*.so
Makefile*
*.qmake.stash
*.tar.bz2
.sfdk/
RPMS/
BUILD/
BUILDROOT/
SOURCES/
SPECS/
SRPMS/
*.user*
moc_*
harbour-carhotspot
harbour-hotspotincar
translations/*.qm
debug*.list
elfbins.list
yes
yes.pub
__pycache__/
*.pyc

