[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-hotspotincar
Exec=harbour-hotspotincar
Name=Hotspot in car
Name[bg]=Хотспот в колата
